body{
    justify-content: center;
    background-image: url(https://pre00.deviantart.net/5afa/th/pre/f/2013/165/7/4/_regular_show__background__space_by_nikitabirds-d68ys5w.png);
    padding: 80px;
    font-family: monospace;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn{
  background-color: #0d1a23;
  color: lightgray;
}

button:hover{
  background-color: lightgray;
  color: #0d1a23;
  border-color: #0d1a23;
}

.container{
    background-color: white;
    padding: 40px;
    border: 2px solid black;
    box-shadow: 0px 0px 50px white;
    text-align: center;
}

.jumbotron{
    border: 2px solid black;
    box-shadow: 0px 0px 50px white;
    text-align: center;
}

.footer {
  position: fixed;
  height: 40px;
  background-color: #0d1a23;
  bottom: 0px;
  left: 0px;
  right:0px;
  margin-bottom:0px;
  text-align: center;
  color: white;
  font-size: 18px;
}
